$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);
$Font-size: 11px;
$Linear-gradient: hsl(249, 99%, 64%);
$Font-family: 'Space Grotesk', sans-serif;