@import 'utility';
@import 'config';

* {
  margin: 0;
  padding: 0;
}

.container {
  font-size: $Font-size;

  .sections {
    display: flex;
    // width: 80%;
    height: 100vh;
    // position: absolute;
    z-index: -1;
  }

  #images {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    margin: 150px 100px;

    img {
      box-shadow: $Very-dark-violet .01rem .01rem .4rem .01rem;
      border-radius: 1rem;
    }

    .img {
      &-a {
        margin-right: 7rem;
        margin-bottom: 1rem;

        div {
          img {
            position: absolute;
            z-index: 1;
            margin: 1.5rem 1.5rem;
            box-shadow: none;
          }

          div {
            #con {
              position: absolute;
              z-index: 1;
              margin: 150px 30px;
              background: none;
              border: none;
              color: $White;
              font-size: 24px;
            }

            div {
              input {
                display: flex;
                justify-content:space-around ;
                position: absolute;
                z-index: 1;
                margin: 200px 30px;
                background: none;
                border: none;
                color: $White;
                font-size: 13px;
                text-transform: uppercase;

                &:last-child {
                  margin-left: 380px;
                }
              }
            }
          }
        }
      }

      &-b {
        margin: 1rem 5rem;

        div {
          input {
            display: flex;
            justify-content:space-around ;
            position: absolute;
            z-index: 1;
            margin: 112px 360px;
            background: none;
            border: none;
            color: $White;
            font-size: 13px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  // Form 
  .card-form {
    display: flex;
    // width: 20%;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-transform: uppercase;
  
   .content {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    // border: 1px solid blue;
    height: 50vh;

    #form-details {
      display: flex;
      flex-direction: column;
      width: 90%;
      // padding-bottom: 1rem;
      

      #component {
        display: flex;
        flex-direction: column;
        padding: .8rem;

        input {
          padding: .4rem;
          border-radius: .3rem;
          box-shadow: set-color($Linear-gradient) .01rem .01rem .2rem .01rem;
        }
      }

      .date-cvc-component {
        display: flex;
        padding: .8rem;

        .date {
          width: 25%;
          input {
            padding: .4rem .4rem;
            margin-left: .3rem;
            border-radius: .3rem;
            box-shadow: set-color($Linear-gradient) .01rem .01rem .2rem .01rem;
            width: 20%;
          }
        }

        .cvc {
          width: 71%;
          input {
            padding: .4rem;
            border-radius: .3rem;
            box-shadow: set-color($Linear-gradient) .01rem .01rem .2rem .01rem;
            width: 100%;
          }
        }
      }

    }

    // Button
    #btn {
      padding: .4rem;
      border-radius: .3rem;
      box-shadow: set-color($Linear-gradient) .01rem .01rem .2rem .01rem;
      color: $White;
      background: $Very-dark-violet;
      width: 95%;
      margin: auto;
      padding: .5rem;

      &:hover {
        opacity: 0.9;
      }
    }
   }
  }
}

